/* -------------------- STYLING -------------------- */

html {
  background-color: #FAFAFA;
}

body {
  padding-left: 5%;
  padding-right: 5%;
}


/* -------------------- MAIN ELEMENT STYLING FOR TYPE -------------------- */

h1 {
  /*position: absolute;*/
  /*width: 503px;
  height: 60px;
  left: 469px;
  top: 387px;*/
  padding-top: 225px;
  font-family: 'EB Garamond', serif;
  font-weight: 600;
  font-size: 60px;
  line-height: 60px;
  /* identical to box height, or 100%*/
  text-align: center;
  color: #353535;
}

h2 {
  /*position: absolute;*/
  /*width: 503px;
  height: 60px;
  left: 469px;
  top: 387px;*/
  padding-top: 100px;
  padding-bottom: 0px;
  font-family: 'EB Garamond', serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height, or 100%*/
  text-align: center;
  color: #353535;
}

.homeP {
  /*position: absolute;
  width: 503px;
  height: 70px;
  left: 469px;
  top: 464px;*/
  font-family: Lato;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  /* or 117% */
  text-align: center;
  color: #696969;
}

.flavorP {
  /*position: absolute;
  width: 503px;
  height: 70px;
  left: 469px;
  top: 464px;*/
  font-family: Lato;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  /* or 117% */
  text-align: center;
  color: #696969;
}


/* -------------------- BUTTON STYLING -------------------- */

.primaryButton {

  display: block;
  margin: 0 auto;
  width: 285px;
  height: 60px;

  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(105, 105, 105, 0.25);
  border-style: none;
  border-radius: 10px;

  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #696969;
}


.primaryButton:hover {

  display: block;
  margin: 0 auto;
  width: 285px;
  height: 60px;

  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(105, 105, 105, 0.25);
  border-style: solid;
  border-width: 2px;
  border-color: #F49740;
  border-radius: 10px;

  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #696969;
}

.tertiaryButton {

 /*margin: 0;
 padding: 20px;
 display: block;
 float: right;
 width: auto;
 height: auto;
 */
 background: none;
 border-style: none;
 font-family: Lato;
 font-style: normal;
 font-weight: 400;
 font-size: 20px;
 line-height: 20px;
 /* identical to box height, or 100% */
 text-align: center;
 color: #696969;
}


#otherFlavors {
  margin: 0;
  padding: 20px;
  display: block;
  float: right;
  width: auto;
  height: auto;
}

#backToHome {
  margin: 0;
  padding: 20px;
  display: block;
  float: left;
  width: auto;
  height: auto; 
}

/* -------------------- MAIN DIV STYLING -------------------- */

#homeDiv {
    margin: auto;
    height: 700px;
    width: 100%;
    background-image: url('/Users/ma/Desktop/CMU - PUI/bunbun/homeBackground1.png');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
}

.spacer {
  display: block;
  width: 100%;
  height: 25%;
  padding: 25px;

}


/* -------------------- NAVIGATION STYLING -------------------- */


.NavList {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  background-color: none;
  border-bottom: 2px solid #F49740;
}

.leftNavListItem {
  float: left;
  padding: 20px;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height, or 100% */  
  color: #353535;
}

.rightNavListItem {
  float: right;
  padding: 20px;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height, or 100% */  
  color: #353535;
}

.centerNavListItem {
  float: none;
  position: absolute;
  left: 46%;
  padding: 20px;
  font-family: EB Garamond;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 20px;
  /* identical to box height, or 100% */  
  color: #353535;
}


/* -------------------- LINK STYLING -------------------- */


a:link {
  color:#696969;
  text-decoration: none;
}

a:visited {
  color:#696969;
;
  text-decoration: none;
}

a:hover {
  color:#353535;
  text-decoration: none;
}

a:active {
  color:#F49740;
  text-decoration: none;
}


/* -------------------- CARDS -------------------- */


* {
  box-sizing: border-box;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0px 0px 10px rgba(105, 105, 105, 0.25);
  padding: 16px;
  background-color: #FFFFFF;
  border-radius: 10px;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #696969;
}

.card:hover {
  box-shadow: 0px 0px 10px rgba(105, 105, 105, 0.25);
  padding: 16px;
  background-color: #FFFFFF;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px inside;
  border-color: #F49740;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #353535;
}



/*.selectionDiv {
  float: none;
  position: absolute;
  left: 46%;
  padding: 20px;
  display: block;
  margin: 0 auto;
  width: 100;
  height: 60px;
}
*/


/* -------------------- SELECTION NAV -------------------- */


.selectionDiv {
  float: none;
  position: absolute;
  left: 45%;
  padding: 20px;
  
  display: grid;
  width: 200px;
  height: 60px;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
  grid-auto-rows: 4px;
  grid-gap: 10px;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #FAFAFA;
  border-style: solid;
  border-width: 1px;
  border-color: #F49740;
  border-radius: 50%;
  display: inline-block;
}

.dotActive {
  height: 25px;
  width: 25px;
  background-color: #F49740;
  border-radius: 50%;
  display: inline-block;
}

.dotPast {
  height: 25px;
  width: 25px;
  background-color: #F4C69A;
  border-radius: 50%;
  display: inline-block;
}







/* -------------------- CART ELEMENTS -------------------- */

.tertiaryButtonCart {
  /*margin: 0;
  padding: 20px;
  display: block;
  float: right;
  width: auto;
  height: auto;
  */
  padding-top: 30px;
  padding-left: 5%;
  background: none;
  border-style: none;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height, or 100% */
  text-align: left;
  color: #696969;
 }

.h3Cart {
  /*position: absolute;*/
  /*width: 503px;
  height: 60px;
  left: 469px;
  top: 387px;*/
  /*padding-top: 100px;*/
  /*float: none;*/
  /*position: absolurelativete;*/
  padding-left: 5%;
  padding-bottom: 0px;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  /* identical to box height, or 100%*/
  text-align: left;
  color: #353535;
}

.cartP {
  /*position: absolute;
  width: 503px;
  height: 70px;
  left: 469px;
  top: 464px;*/
  padding-right: 5%;
  padding-bottom: 0%;  
  font-family: Lato;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  /* or 117% */
  text-align: center;
  color: #696969;
}

.spacerCart {
  display: block;
  margin: 5%;

  width: 84%;
  height: 25%;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #E2E2E2;

}

.primaryButtonCart {
  display: block;
  margin: 5%;
  width: 84%;
  height: 60px;

  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(105, 105, 105, 0.25);
  border-style: none;
  border-radius: 10px;

  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #696969;
}

.primaryButtonCart:hover {
  display: block;
  margin: 5%;
  width: 84%;
  height: 60px;

  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(105, 105, 105, 0.25);
  border-style: solid;
  border-width: 2px;
  border-color: #F49740;
  border-radius: 10px;

  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #696969;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  /*top: 115px;*/
  overflow-x: hidden;
  /*padding-top: 20px;*/
}

/* Left side controls */
.left {
  left: 0;
}

/* Right side controls */
.right {
  right: 0;
  background-color: #FAFAFA;
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: #F49740;
}

/* Center cart content horizontally and vertically
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}
 */

/* Style image */
.centered img {
  width: fit-content;
  opacity: 25%;
  /*border-radius: 50%;*/
}

/* FILLED CART */

.cartElement {
  display: block;
  padding-top: 40px;
  margin: 4%;
  width: 86%;
}




/* -------------------- CHECKOUT ELEMENTS -------------------- */

/* Left side controls */
.leftCheckout {
  left: 0;
  background-color: #FAFAFA;

}

/* Right side controls */
.rightCheckout {
  right: 0;
  background-color: #FAFAFA;
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: #F49740;
}

/* Center cart content horizontally and vertically
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}
 */

.checkoutSelectionDiv {
  padding-top: 30px;
  float: none;
  position: absolute;
  padding-left: 11%;
  
  display: grid;
  width: 250px;
  height: 60px;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
  grid-auto-rows: 4px;
  grid-gap: 10px;
}

.checkoutFormDiv {
  padding-top: 30px;

  padding-left: 11%;
  
  display: grid;
  width: 95%;
  height: auto;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 10px;
}

.checkoutH2Right {
  /*position: absolute;*/
  /*width: 503px;
  height: 60px;
  left: 469px;
  top: 387px;*/
  padding-left: 11%;
  padding-bottom: 0px;
  font-family: 'EB Garamond', serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height, or 100%*/
  text-align: left;
  color: #353535;
}

.checkoutH3Right {
  /*position: absolute;*/
  /*width: 503px;
  height: 60px;
  left: 469px;
  top: 387px;*/
  padding-left: 5%;
  padding-bottom: 0px;
  font-family: 'EB Garamond', serif;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height, or 100%*/
  text-align: left;
  color: #353535;

}

.checkoutPRight {
  /*position: absolute;
  width: 503px;
  height: 70px;
  left: 469px;
  top: 464px;*/
  padding-left: 5%;
  padding-bottom: 0px;
  font-family: Lato;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  /* or 117% */
  text-align: left;
  color: #696969;
}

.checkoutH2Left {
  /*position: absolute;*/
  /*width: 503px;
  height: 60px;
  left: 469px;
  top: 387px;*/
  padding-top: 90px;
  padding-left: 5%;
  padding-bottom: 0px;
  font-family: 'EB Garamond', serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height, or 100%*/
  text-align: left;
  color: #353535;

}

.checkoutPLeft {
  /*position: absolute;
  width: 503px;
  height: 70px;
  left: 469px;
  top: 464px;*/
  padding-left: 5%;
  padding-bottom: 0px;
  font-family: Lato;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  /* or 117% */
  text-align: left;
  color: #696969;
}

.checkoutCentered img {
  display: block;
  margin: 4%;
  width: 86%;
}

/*
padding-top: 90px;
*/


.primaryButtonCheckout {
  display: block;
  margin: 5% 0% 0% 11%;

  width: auto;
  height: 60px;

  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(105, 105, 105, 0.25);
  border-style: none;
  border-radius: 10px;

  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  padding: 20px;
  text-align: left;
  color: #696969;
}


.primaryButtonCheckout:hover {

  display: block;
  margin: 5% 0% 0% 11%;

  width: auto;
  height: 60px;

  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(105, 105, 105, 0.25);
  border-style: solid;
  border-width: 2px;
  border-color: #F49740;
  border-radius: 10px;

  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #696969;
}





.primaryButtonCheckoutPlaceOrderDisabled {
  display: block;
  margin: 5% 0% 0% 5%;

  width: auto;
  height: 60px;

  background: #FFFFFF;
  border-style: none;
  border-radius: 10px;

  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  padding: 20px;
  text-align: left;
  color: #696969;
  opacity: 50%;
}


.primaryButtonCheckoutPlaceOrder {
  display: block;
  margin: 5% 0% 0% 5%;

  width: auto;
  height: 60px;

  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(105, 105, 105, 0.25);
  border-style: none;
  border-radius: 10px;

  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  padding: 20px;
  text-align: left;
  color: #696969;
}

.primaryButtonCheckoutPlaceOrder:hover {

  display: block;
  margin: 5% 0% 0% 5%;

  width: auto;
  height: 60px;

  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(105, 105, 105, 0.25);
  border-style: solid;
  border-width: 2px;
  border-color: #F49740;
  border-radius: 10px;

  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #696969;
}



.checkoutForm {
  margin: 0% 0% 0% 11%;

}





label {
  width: 84%;
  padding-right: 20px;
  display: inline-block;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #696969;

  padding-bottom: 10px;
}

input {
  background-color: rgba(255, 255, 255, 0.05);
  width: 84%;
  padding:20px;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: #E2E2E2;
  border-radius: 10px;
  height: 55px;

  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #696969;

}

input:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #F49740;
  border-radius: 10px;
}


input:focus {
  outline: none;
  /*
  outline-style: solid;
  outline-width: 1px;
  */
  border-style: solid;
  border-width: 2px;
  border-color: #F49740;
  border-radius: 10px;
  background: white;
}

input:not(:placeholder-shown) {
  border-style: solid;
  border-width: 1px;
  border-color: #696969;
  border-radius: 10px;
  background: white;
  color: #353535
}

input:not(:placeholder-shown):hover {
  border-style: solid;
  border-width: 1px;
  border-color: #F49740;
  border-radius: 10px;
}

input:not(:placeholder-shown):focus {
  border-style: solid;
  border-width: 2px;
  border-color: #F49740;
  border-radius: 10px;
  background: white;
}








select {
  background-color: rgba(255, 255, 255, 0.05);
  width: 84%;
  padding:20px;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: #E2E2E2;
  border-radius: 10px;
  height: auto;

  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #696969;

}

select:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #F49740;
  border-radius: 10px;
}


select:focus {
  outline: none;
  /*
  outline-style: solid;
  outline-width: 1px;
  */
  border-style: solid;
  border-width: 2px;
  border-color: #F49740;
  border-radius: 10px;
  background: white;
}
